@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.container{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #495579;
}
header{
    width: 100%;
    height: 80px;
    background-color: #251749;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1{
    color: #FFFBEB;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 80px 8%;
}
.form-wrap{
    width: 100%;
    height: 100vh;
    background-color: #495579;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.input-container{
    width: 90%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px  #251749;
    background-color: #263159;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.input-box{
    width: 96%;
    height: 60px;
    background-color: #FFFBEB;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 3px  #251749;
    overflow: hidden;
}
.box{
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-weight: bold;
    border: none;
}
.box-1{
    outline: none;
    text-align: center;
    font-family: lato;
}
.box-2{
    background-color: green;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s ease;
}
#listMe{
    display: none;
    transition: display 2s ease;
}

.table-container{
    width: 100%;
    height: 100vh;
    margin: 20px;
    background-color: #495579;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.table-wrapper{
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-color: #FFFBEB;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px  #251749;
}
.heading{
    width: 100%;
    height: 60px;
    background-color: #251749;
    padding: 10px;
    color: #FFFBEB;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-transform: uppercase;

}
table{
    width: 98%;
    height: auto;
    margin: 50px 10px;
    background-color: #FFFBEB;
    border: 1px solid #251749;
    border-collapse: collapse;
}
tr{
    height: 40px;
    padding: 10px;
    font-size: 24px;
}
table, th,td{
    border: 1px solid #251749;
    border-collapse: collapse;
    text-align: center;
    font-family: lato;
}
.head{
    background-color: #3B185F;
    color: #FFFBEB;
}
.total-meal{
    display: inline-block;
    width: 40%;
}
.total-meal:first-child{
    border-right: 1px solid #251749;
}
span{
    text-transform: capitalize;
}
.reveal{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


footer{
    width: 100%;
    height: 150px;
    background-color: #251749;
    color: #FFFBEB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}